# How to create a pandas DataFrame from another object

In [1]:
import pandas as pd

In [6]:
# Dataframe from a dictionary
pd.DataFrame({'id':[100,101,102],'color':['red','blue','red']})

    id color
0  100   red
1  101  blue
2  102   red

In [7]:
# Since a dictionary is an unordered collection of key value pair, the columns in the data frame is not in the 
# exact order as in the dictionary. We can specify the list of columns to ensure the columns are in the 
# desired order
pd.DataFrame({'id':[100,101,102],'color':['red','blue','red']}, columns=['id','color'])

    id color
0  100   red
1  101  blue
2  102   red

In [8]:
# To specify the index 
pd.DataFrame({'id':[100,101,102],'color':['red','blue','red']}, columns=['id','color'],index = ['a','b','c'])

    id color
a  100   red
b  101  blue
c  102   red

In [9]:
# Dataframe from a list of lists
pd.DataFrame([[100,'red'] , [101,'blue'] , [102,'red']])

     0     1
0  100   red
1  101  blue
2  102   red

In [10]:
# Dataframe from a list of lists and specifying the column anmes
pd.DataFrame([[100,'red'] , [101,'blue'] , [102,'red']], columns=['id','color'])

    id color
0  100   red
1  101  blue
2  102   red

In [12]:
# Dataframe from a numpy array

In [11]:
import numpy as np

In [14]:
arr = np.random.rand(4,2)
arr

array([[0.26652603, 0.05480497],
       [0.66534659, 0.51151601],
       [0.58350271, 0.71505304],
       [0.08195366, 0.60879534]])

In [16]:
pd.DataFrame(arr, columns=['one','two'])

        one       two
0  0.266526  0.054805
1  0.665347  0.511516
2  0.583503  0.715053
3  0.081954  0.608795

In [18]:
# Creating a toy dataset with large number of records
pd.DataFrame({'student':np.arange(100,110,1),'test':np.random.randint(60,101,10)})

   student  test
0      100    91
1      101    98
2      102    80
3      103    73
4      104    75
5      105    60
6      106    79
7      107    73
8      108    69
9      109    87

In [19]:
# Creating a toy dataset with large number of records and setting the index
pd.DataFrame({'student':np.arange(100,110,1),'test':np.random.randint(60,101,10)}).set_index('student')

         test
student
100        92
101        95
102        68
103        60
104        88
105        94
106        63
107        62
108        72
109        92

# Bonus

In [21]:
# Creating a series
s = pd.Series(['round','square'], index = ['c','b'], name = 'shape') 
s

c     round
b    square
Name: shape, dtype: object

In [28]:
df = pd.DataFrame([[100,'red'] , [101,'blue'] , [102,'red']], columns=['id','color'], index=['a','b','c']) 
df

    id color
a  100   red
b  101  blue
c  102   red

In [31]:
# Combing the data frame and the series
pd.concat([df, s], axis = 1, sort='index')

    id color   shape
a  100   red     NaN
b  101  blue  square
c  102   red   round